<mat-toolbar color="primary">
    <span>Transportadora</span>
    <span class="example-spacer"></span>
    <button mat-button routerLink="/dashboard">Dashboard</button>
    <button mat-button routerLink="/dashboard/clientes">Clientes</button>
    <button mat-button routerLink="/dashboard/almacenamientos">Almacenamientos</button>
    <button mat-button routerLink="/dashboard/entregas">Entregas</button>
    <span class="example-spacer"></span>
    <button mat-icon-button (click)="onLogOut()"><mat-icon>logout</mat-icon></button>
</mat-toolbar>
