<div class="body">

    <form [formGroup]="form" class="form">
      
      <h2 class="form__title" *ngIf="!idEntrega else elseBlocked">Crear Entrega</h2>
      
      <ng-template #elseBlocked>
        <h2 class="form__title">Editar Entrega</h2>
      </ng-template>
      
      <div class="form__container">

        <mat-form-field appearance="fill" class="form_element">
            <mat-label>Tipo Almacenamiento</mat-label>
            <mat-select [(value)]="selectedTipo" formControlName="tipo">
                <mat-option value="MARITIMO">MARITIMO</mat-option>
                <mat-option value="TERRESTRE">TERRESTRE</mat-option>
            </mat-select>
        </mat-form-field>
  
        <mat-form-field appearance="fill" class="form_element">
          <mat-label>Producto</mat-label>
          <input matInput required autocomplete="off" formControlName="producto">
        </mat-form-field>

        <mat-form-field appearance="fill" class="form_element">
          <mat-label>Cantidad</mat-label>
          <input matInput required autocomplete="off" formControlName="cantidad">
        </mat-form-field>
        
        <mat-form-field appearance="fill" class="form_element">
            <mat-label>Fecha Entrega</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="fecha_entrega">
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="fill" class="form_element">
          <mat-label>Precio Envio</mat-label>
          <input matInput required autocomplete="off" formControlName="precio_envio">
        </mat-form-field>

        <mat-form-field appearance="fill" class="form_element">
          <mat-label>Vehiculo</mat-label>
          <input matInput required autocomplete="off" formControlName="dato_vehiculo">
        </mat-form-field>

        <mat-form-field appearance="fill" class="form_element">
          <mat-label>Guia</mat-label>
          <input matInput required autocomplete="off" formControlName="guia">
        </mat-form-field>

        <mat-form-field appearance="fill" class="form_element">
          <mat-label>Cliente</mat-label>
          <mat-select formControlName="cliente" [compareWith]="compareCliente">
            <mat-option *ngFor="let cliente of clientes" [value]="cliente" [attr.data-tag]="cliente.nombre">
              {{cliente.nombre}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill" class="form_element">
          <mat-label>Almacen</mat-label>
          <mat-select formControlName="almacenamiento" [compareWith]="compareAlmacen">
            <mat-option *ngFor="let almacen of almacenes" [value]="almacen">
              {{almacen.nombre}}
            </mat-option>
          </mat-select>
        </mat-form-field>
  
        <button 
          mat-raised-button 
          color="primary" 
          [disabled]="form.invalid"
          (click)="create()" *ngIf="!idEntrega else elseBlock"> Registrar </button>

        <ng-template #elseBlock>
          <button
            mat-raised-button 
            color="primary"
            (click)="update()"> Actualizar </button>
        </ng-template>
        
  
      </div>
    </form>
  </div>
