.body{
    display: flex;
    justify-content: center;
    height: 90%;
    align-items: center;
}

.form{
    border-radius: 10px;
    box-shadow: 0 5px 10px 5px rgb(0 0 0 / 30%);
    max-width: 350px;
    padding: 3.5em 3em;
    text-align: center;

    .form__title{
        font-size: 2rem;
        margin-bottom: .5em;
    }

    .form_element{
        width: 100%;
        background: none;
        font-size: 1rem;
        padding: .6em .3em;
    }
}